#head-1{
    text-align: center;
    padding: 3pc 3pc 3pc 3pc;
    
    height: 80px;
    font-size:2pc;
    background: #da1212;
    border-radius: 20px;
    border: 1px solid green;

}
head-0{
    height: 5pc;
    width: 100%;
    background: #000;
}
.container-fluid{
    background-color: aqua;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    border: 1px solid green;
}
.card-all1{

}

